@model Produit
@{
    ViewBag.Title = "Ajouter Produit";
}
<div class="page-header">
    <h3 class="page-title">Ajouter  des Produits</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Produit/ListProduit">Retourner vers la liste des produits</a></li>

        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    Ajouter un Produit
                </h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="All" />
                    <div class="form-group">
                        <label for="ref">Libélle</label>
                        <input type="text" class="form-control" asp-for="LibelleProduit" placeholder="Libelle" id="libelle"/>
                        <span asp-validation-for="LibelleProduit"></span>
                    </div>
                    <div class="form-group">
                        <label for="ref">Prix Unitaire</label>
                        <input type="text" class="form-control" asp-for="Prix" placeholder="Prix" id="pu" />
                        <span asp-validation-for="Prix"></span>
                    </div>
                    <div class="form-group">
                        <label for="ref">Image Produit</label>
                        <input type="file" class="form-control" asp-for="image1" id="img">
                        <span asp-validation-for="image1"></span>
                    </div>
                    <div class="form-group">
                        <label>Article </label>
                        <select class="form-control" asp-items="@ViewBag.Articles" id="id_article"></select>
                    </div>
                   <div class="form-group">
                        <label>Famille </label>
                        <select asp-for="IdFamille" class="form-control" asp-items="@ViewBag.Familles" id="famille"></select>
                    </div>
                    <div class="form-group">
                        <label for="ref">Quantite</label>
                        <input type="text" class="form-control"  placeholder="Quantite" id="quantite" />
                    </div>
                    <table>
                         <th>Libellé</th>
                        <th>Quantité</th>
                        <th>Actions</th>
                        
                        <tbody id="content">

                        </tbody>
                     <br />
                    </table>
                    <div class="template-demo mt-2">
                        <button type="button" class="btn btn-primary btn-rounded btn-fw" onclick="Create()"> + </button>
                        
                    </div>
                    <div class="template-demo mt-2">
                        <button type="submit" class="btn btn-primary btn-rounded btn-fw"> Ajouter Produit </button>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    let article = [];

    function Create() {
        var article = document.getElementById("id_article");
        var articleid = article.value;
        var articlelibelle = article.options[article.selectedIndex].text;
        var quantiteart = document.getElementById("quantite").value;
        let newArticle = {
            id_article: articleid,
            lib_article: articlelibelle,
            quantite: quantiteart,
        };
        article.push(newArticle);
        Read();
    }
    
    function Read()
    {
        var data = '';
        for (var i = 0; i < article.length; i++) {
            data += '<tr>';
            data += '<td>' + article[i].articlelibelle + '</td>';
            data += '<td>' + article[i].quantiteart + '</td>';
            data += '<td><button onclick=SupprimerArticle(' + i + ')>Delete</button></td>';
            data += '</tr>';
        }
        document.getElementById("content").innerHTML = article.length;
        document.getElementById("content").innerHTML = data;
    }
    function SupprimerArticle(item) {
        article.splice(item, 1);
        Read();
    }

    }
</script>