<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>RestaurantGirls</title>
    <link rel="stylesheet" href="~/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/assets/vendors/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="shortcut icon" href="~/assets/images/favicon.png" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="~/Card/stylecart.css"/>
    <style type="text/css">
        .sidebar {
            min-height: 900px !important;
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
                
              
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">
                        <i class="mdi mdi-home menu-icon"></i>
                        <span class="menu-title">Home</span>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Index">
                        <i class="mdi mdi mdi-menu menu-icon"></i>
                        <span class="menu-title">Menu</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Table/ListTable">
                        <i class="mdi mdi-table-large menu-icon"></i>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Article/ListArticles">
                        <i class="mdi mdi-food-variant menu-icon"></i>
                        <span class="menu-title">Articles</span>
                    </a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Commande/ListCommandes">
                        <i class="mdi  mdi-basket menu-icon"></i>
                        <span class="menu-title">Commandes</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Famille/List">
                        <i class="mdi mdi-window-restore menu-icon"></i>
                        <span class="menu-title">Familles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Fournisseur/List">
                        <i class=" mdi mdi-package menu-icon"></i>
                        <span class="menu-title">Fournisseus</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Produit/ListProduit">
                        <i class=" mdi mdi-food menu-icon"></i>
                        <span class="menu-title"> Produits</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Categorie/ListCategorie">
                        <i class=" mdi  mdi-dns menu-icon"></i>
                        <span class="menu-title"> Categories</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Fournitures/List">
                        <i class=" mdi mdi-briefcase menu-icon"></i>
                        <span class="menu-title"> Fournitures</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Employee/List">
                        <i class=" mdi mdi-account-multiple menu-icon"></i>
                        <span class="menu-title"> Employes</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid page-body-wrapper">
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close mdi mdi-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-default-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
                </div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles light"></div>
                    <div class="tiles dark"></div>
                </div>
            </div>
            <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
                    <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="index.html"><img src="~/assets/images/logo-mini.svg" alt="logo" /></a>
                    <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <ul class="navbar-nav">
             
                       
                    </ul>
                    <ul class="navbar-nav navbar-nav-right ml-lg-auto">
                       
                        <li class="nav-item nav-profile dropdown border-0">
                            <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                                <img class="nav-profile-img mr-2" alt="" src="assets/images/faces/account.png" />
                                <span class="profile-name">Admin</span>
                            </a>
                            <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                               
                                <a class="dropdown-item" asp-controller="Home" asp-action="LogOut">
                                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout
                                </a>
                            </div>
                        </li>
                    </ul>
                    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                        <span class="mdi mdi-menu"></span>
                    </button>
                </div>
            </nav>

            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                    @RenderSection("Scripts", required: false)
                </div>
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>
                    </div>
                </footer>
            </div>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.resize.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.categories.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.fillbetween.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/vendors/flot/jquery.flot.pie.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/js/off-canvas.js"></script>
    <script src="~/assets/js/hoverable-collapse.js"></script>
    <script src="~/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/js/dashboard.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/produit.js"></script>
    <script src="~/assets/js/Commande.js"></script>
    <script src="~/assets/js/ProduitUpdate.js"></script>
   
    <!-- End custom js for this page -->
    <!-- nice select -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- custom js -->
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>
    <!-- End Google Map -->
    <script>
        // isotope js
        //Lorsque la page est chargée, la fonction  qui s'exécute.-- >
        $(window).on('load', function () {
     //         Lorsque element filters menu est cliqué la fonction qui s'exécute
            $('.filters_menu li').click(function () {
                       //  supprime la classe "active" de tous les éléments de la liste
                $('.filters_menu li').removeClass('active');
                        // cette ligne ajoute la classe "active" à l'élément de liste sur lequel l'utilisateur a cliqué.
                $(this).addClass('active');
                        //cette ligne récupère la valeur de l'attribut "data-filter" de l'élément Clique.
                var data = $(this).attr('data-filter');
                         //cette ligne utilise la bibliothèque Isotope pour filtrer les éléments de la grille en fonction  l'attribut "data-filter" récupérée.
                $grid.isotope({
                    filter: data
                })
            });
            // initialise la bibliothèque Isotope sur la grille d'éléments ".grid"
            var $grid = $(".grid").isotope({
                itemSelector: ".all",//Recuperer le nom De Class a Filtrer
                percentPosition: false,
                masonry: {
                   // l'affichage D'elements
                    columnWidth: ".all"
                }
            })
        });
    </script>
    <script src="~/Card/scriptpanel.js"></script>
</body>
</html>

