
@model Article
@{
    ViewBag.Title = "Ajouter Article";
}
<div class="page-header">
    <h3 class="page-title">Ajouter  des Articles</h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Article/ListArticles">Retourner vers la liste</a></li>

        </ol>
    </nav>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">

                <p>
                    <a class="btn btn-primary btn-rounded btn-icon" asp-action="Create" asp-controller="Article">
                        <i class="mdi mdi-food-variant menu-icon"></i>
                    </a>
                </p>
                <form class="forms-sample" method="post">
                     <div asp-validation-summary="All"/>
                    <div class="form-group">
                                <label for="ref">Référence</label>
                                <input type="text" class="form-control" asp-for="RefArticle" placeholder="Référence" />
                                <span asp-validation-for="RefArticle"></span>
                    </div>
                            <div class="form-group">
                                <label for="ref">Libellé</label>
                                <input type="text" class="form-control" asp-for="LibelleArticle" placeholder="Libellé" />
                                <span asp-validation-for="LibelleArticle"></span>
                            </div>
                            <div class="form-group">
                                <label for="ref">Quantité</label>
                                <input type="text" class="form-control" asp-for="QteStock" placeholder="Quantité" />
                                <span asp-validation-for="QteStock"></span>
                            </div>
                            <div class="form-group">
                                <label for="ref">Unité</label>
                                <input type="text" class="form-control" asp-for="Unite" placeholder="Unité" />
                                <span asp-validation-for="Unite"></span>
                            </div>
                    <div class="form-group">
                        <label for="IdCat">Categorie</label>
                        <select asp-for="IdCat" class="form-control" asp-items="@ViewBag.Categories"></select>
                    </div>
                            <div class="template-demo mt-2">
                        <button type="submit" class="btn btn-primary btn-rounded btn-fw"> Ajouter un article</button>
                    
                                </div>
                </form>
                
            </div>
        </div>
    </div>
</div>

                    